button{
    border-radius: 20px;
    background-color: cornflowerblue;
    padding: 10px 20px;
    margin: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
    border-radius: 10px;
    background-color: rgba(100, 148, 237, 0.226);
    padding: 10px 20px;
    margin: 10px;
}

